{%extends 'ExploticFormationBundle::layout.html.twig'%}


{%block body %}
{% block index_title %}
<h1>Programmes de formation</h1>
{% endblock %}
    {%include 'ExploticFormationBundle:Programme:index/content.html.twig' with {'entities':entities} %}
{% block create %}
<ul>
    <li>
        <a href="{{ path('programme_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
{% endblock %}