{%extends '::explotic.html.twig'%}
{%block body%}
{% form_theme form 'ExploticAgendaBundle:Form:fields.html.twig' %}

<br>

<form class='div-plain' action="{{ path('rdv_create_selected') }}" method="post" {{ form_enctype(form) }}>
     {{ form_widget(form) }}
    <p>
        <button class="btn btn-large" type="submit">Attribuer ces créneaux</button>
    </p>
</form>
    

{%endblock%}