{%extends "::base.html.twig"%}
{%block body%}

<h1> Définir les créneaux modèles</h1>
<div class='alert alert-info'>
    <button type='button' class='close' data-dismiss='alert'>x</button>
    Permet de définir les créneaux qui serviront de modèles à la génération des plannings de chaque semaine
    
</div>

<form action="{{ path('creneaumodelegen_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class='btn btn-success' type="submit">Générer les créneaux modèles</button>
    </p>
</form>


{%endblock%}
{%block script%}  
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>  
<script src="{{asset('bundles/transfermain/bootstrap/js/bootstrap.js')}}"></script>    
{%endblock%}
