{%extends "ExploticMainBundle:Templates:text-content.html.twig" %}

{% block text_title %} 
<h3>Recrutement</h3>
{%endblock%}
{% block text_body %} 
<form action="{{ path('stagiaire_create') }}" method="post" {{ form_enctype(form) }}>
  
        <div class="row-fluid">
            <div class="span12">
                {{ form_widget(form) }}
            </div>
        </div>       
        <div class="row-fluid">
            <div class="span4">
                <button class="btn" type="submit">Recruter</button>
            </div>
        </div>       
</form>

<a class="btn btn-primary" href="{{ path('stagiaire') }}">
    Retour à la liste des stagiaires
</a>
 
{% endblock%}