{%extends "ExploticMainBundle:Templates:text-content_noher.html.twig"%}
{%block text_title%}
<h3>Informations générales</h3>
{%endblock%}
{%block text_body%}
<table class="table table-condensed">
    <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ entity.prenom }}</td>
        </tr>
    </tbody>
</table>
{%endblock%}
