<div class='text-left'>
<div class="row-fluid">
    <div class="span4">
        <div class="top-bar">       
            <h3>Informations générales</h3>
        </div>
        <div class="well">         
        {%include 'ExploticTiersBundle:Stagiaire:show/content.html.twig' with {'entity':entity} %}     
        </div>
    </div>

    <div class="span8">
        <div class="top-bar">
            <h3>Informations sur l'entreprise</h3>
        </div>
        <div class="well">         
        {%include 'ExploticTiersBundle:Entreprise:show/content.html.twig' with {'entreprise':entity.entreprise} %}
        </div>
    </div>
</div>

<div class="row-fluid">    
    <div class="span6">
            {%include 'ExploticFormationBundle:Programme:index/content.html.twig' with {'entities':entity.programmes,  'depuis':'stagiaire'} %}
    </div>
    <div class="span6">
                {%include 'ExploticTiersBundle:Poste:index/content.html.twig' with {'entities':entity.postes, 'depuis':'stagiaire'} %}
    </div>
</div>

<div class="row-fluid">    
    <div class="span12">
            {%include 'ExploticTiersBundle:Machine:show/content.html.twig' with {'entity':entity.machine, 'depuis':'stagiaire'} %}
    </div>
</div>
<br class="spacer" style="float: top">


</div>