{%extends "ExploticTiersBundle::layout.html.twig" %}

{%block body %}
 {%include 'ExploticTiersBundle:Poste:index/content.html.twig' with {'entities':entities} %}

<ul>
    <li>
        <a href="{{ path('poste_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{%endblock%}