<h1>Poste</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nomchantier</th>
            <td>{#{ entity.nomChantier }#}</td>
        </tr>
    </tbody>
</table>


