{%for subgallery in gallery.children%}
<li class=''>
   
        <a class='nav-header' href="{{path('my_gallery_show', {'id':subgallery.id})}}">
            <i class='icon-th-large'></i>
            {{subgallery.name}}
        </a>

    <ul class='nav nav-list'>  
        
        {% include 'ApplicationSonataMediaBundle:Gallery:medias_tree.html.twig' with {'gallery':subgallery} %}
        {%include 'ApplicationSonataMediaBundle:Gallery:subgalleries_tree.html.twig' with {'gallery':subgallery} %}
    </ul>
    
</li>   
{%endfor%}