{%extends 'ExploticMainBundle::layout.html.twig'%}


{%block body %}
{% block index_title %}
<h1>Accueil</h1>
{% endblock %}

<div>
<p> Connectez-vous pour utiliser la plateforme de support au déploiement d'ExploTIC </p>
</div>

{% endblock %}
