
{%extends "ExploticMainBundle::layout.html.twig" %}

{% block bodyOpt %}onload="initialize()"{% endblock %}  
{% block body %} 
{% block jquery_script %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
{%endblock%}

<script>
$(function(){
    $("#accordion1").accordion({
        collapsible : true,
        heightStyle: "content"
    });
    $("#accordion2").accordion({
        collapsible : true,
        heightStyle: "content"
    });
});
</script>

<div style="float:top">
<h1> Nom d'utilisateur : {{user.username}} </h1>
</div>
<div class="profil">
    <div class="profil-content">
        <h3> Informations du compte</h3>
        <div>    
            <p> Adresse email : {{user.email}} </p>             
        </div>
    </div>
    
        {% if is_granted('ROLE_GERANT') %}
                {%if user.entreprise.id is defined %}
        {#
        <script>
        $(function(){
            $("#gerant").accordion({
                collapsible : true,
                heightStyle: "content"
                });
        });
        </script>
#}
    <div id="gerant" class="profil-content">
        <h3> Fiche Gérant </h3>
        <div>
            {%include 'ExploticTiersBundle:Entreprise:show/content.html.twig' with {'entreprise':user.entreprise} %}
        </div>
    </div>
                {%endif%}
        {%endif%}
        {% if is_granted('ROLE_STAGIAIRE') %}
                {%if user.stagiaire.id is defined %}
        {#
    <script>
    $(function(){
        $("#stagiaire").accordion({
            collapsible : true,
            heightStyle: "content"
            });
    });
    </script> #}
    <div id="stagiaire" class="profil-title">
        <h3 > Fiche Stagiaire </h3>  </div>
        <div>                
                        {%include 'ExploticTiersBundle:Stagiaire:show/content_aggreg.html.twig' with {'entity':user.stagiaire} %}
        </div>  
  
                {%endif%}

        {%endif%}
        {% if is_granted('ROLE_FORMATEUR') %}
                {%if user.formateur.id is defined %}    
        {#
    <script>
    $(function(){
        $("#formateur").accordion({
            collapsible : true,
            heightStyle: "content"
            });
    });
    </script>
#}
    <div id="formateur" class="profil-content">
        <h3> Fiche Formateur </h3>
        <div>
            {%include 'ExploticTiersBundle:Formateur:show/content.html.twig' with {'entity':user.formateur} %}
        </div>
    </div>
                {%endif%}
        {%endif%}
        {% if is_granted('ROLE_RECRUTEUR') %}
                {%if user.recruteur.id is defined %}
        {#
    <script>
    $(function(){
        $("#recruteur").accordion({
            collapsible : true,
            heightStyle: "content"
            });
    });
    </script>
#}
    <div id="recruteur" class="profil-content">
        <h3> Fiche Recruteur </h3>
        <div>
            {%include 'ExploticTiersBundle:Recruteur:show/content.html.twig' with {'entity':user.recruteur} %}
        </div>
    </div>
                {%endif%}
        {%endif%}
    <div class="profil-title">
        <h3> Carte </h3></div>
        <div class="profil-content" style="width:96%">     
            <div id="myMap">   
            </div>
            {{ google_map_container(map) }}
            {{google_map_js(map) }}
        </div>
    
</div>



    
    


{% endblock%}

