
{%extends "ExploticMainBundle::layout.html.twig" %}

{% block bodyOpt %}onload="initialize()"{% endblock %}  
{% block body %} 
{% block jquery_script %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
{%endblock%}

<script>
$(function(){
    $("#accordion1").accordion({
        collapsible : true,
        heightStyle: "content"
    });
    $("#accordion2").accordion({
        collapsible : true,
        heightStyle: "content"
    });
});
</script>

<h3>Profil de l'utilisateur</h3>
<div class="row-fluid">
    <div class="span6">
        <div class="top-bar"> 
            <h3>Informations du compte</h3>
        </div>
        <div class="well">
            <p> Nom de connexion : {{user.username}}</p>
            <p> Adresse email : {{user.email}} </p> 
        </div>
    </div>
{% if is_granted('ROLE_GERANT') %}
        {%if user.entreprise.id is defined %}
    <div class="span6">
        <div class="top-bar"> 
            <h3>Entreprise</h3>
        </div>
        <div class="well text-left">
            {%include 'ExploticTiersBundle:Entreprise:show/content.html.twig' with {'entreprise':user.entreprise} %}

        </div>
    </div>
    {%endif%}
{%endif%}
</div>
{% if is_granted('ROLE_STAGIAIRE') %}
    {%if user.stagiaire.id is defined %}
        <h3 > Fiche Stagiaire </h3>                       
        {%include 'ExploticTiersBundle:Stagiaire:show/content_aggreg.html.twig' with {'entity':user.stagiaire} %}
        {%endif%}
{%endif%}
{% if is_granted('ROLE_FORMATEUR') %}
        {%if user.formateur.id is defined %}    
        <h3> Fiche Formateur </h3>        
            {%include 'ExploticTiersBundle:Formateur:show/content.html.twig' with {'entity':user.formateur} %}
        {%endif%}
{%endif%}
{% if is_granted('ROLE_RECRUTEUR') %}
    {%if user.recruteur.id is defined %}
        <h3> Fiche Recruteur </h3>
        {%include 'ExploticTiersBundle:Recruteur:show/content.html.twig' with {'entity':user.recruteur} %}
    {%endif%}
{%endif%}
<h3>Informations géographiques</h3>
<div class="row-fluid">
    <div class="span12">
        <div class="top-bar"></div>
        <div class="well">            
            <div id="myMap">   
            </div>
            {{ google_map_container(map) }}
            {{google_map_js(map) }}</div>
        
    </div>
</div>

   

{% endblock%}

