table.tablesorter thead tr .header {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    min-width: 30px;
}
table.tablesorter thead tr .header.headerSortUp {
    background-image: url(../images/asc.png);
}
table.tablesorter thead tr .header.headerSortUp  {
    background-image: url(../images/desc.png);
}

.div-plain{
    float:left;
    width:100%;
}

div.blind{
    display:none;
}

form.form-btn{
    float:left;
    color: red;     
}

form.form-btn button{
    float:left;
    margin:  0 auto;    
}

.menu-titre{
    font-size:1.2em;
    font-weight: bold;
    margin:4px 0 2px 8px;
}