table.tablesorter thead tr .header {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    min-width: 30px;
}
table.tablesorter thead tr .header.headerSortUp {
    background-image: url(../images/asc.png);
}
table.tablesorter thead tr .header.headerSortUp  {
    background-image: url(../images/desc.png);
}

.div-plain{
    float:left;
    width:100%;
}

div.blind{
    display:none;
}

form.form-btn{
    float:left;
    color: red;     
}

form.form-btn button{
    float:left;
    margin:  0 auto;    
}

.menu-titre{
    font-size:1.2em;
    font-weight: bold;
    margin:4px 0 2px 8px;
}

.icon-transfer{
    background-image: url(../images/logo_simple.gif);
    background-position: center center;
    width: 22px;
    height: 22px;
    background-size: contain;
}
.top-bar{
    background-color: #c9ecc9;
    color: #428a42;
    display: block;
    padding: 0 20px;
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
    
    border: 1px solid #e3e3e3;
}
.top-bar+.well{
    border-top:0;
    border-radius: 0 0 5px 5px;
    margin-top: 0;
    overflow: auto;
}

.center{
    float:none;
    margin-left: auto;
    margin-right:auto;
}
.login{
    width: 230px;
    padding: 12px;
    /*border: 1px solid #428a42;*/
}

#wrap{
    min-height: 100%;
}

#main{
    overflow:auto;
    padding-bottom: 150px;
}

.footer{
    position:relative;
    border-top: 1px solid #6aa86a;
    background-color: #bde0bd;
    margin-top:-150px;
    height: 150px;
    clear:both;    
    padding-top: 20px;
}
