{# empty Twig template #}
{%extends '::explotic.html.twig'%}

{%block body%}
<h2>Stagiaires importés</h2>

<table class='table table-condensed'>
    <thead>
        <tr>
            <th>entreprise
           </th>
            <th>nom de connexion
           </th>
            <th>prénom
           </th>
            <th>nom
           </th>
        </tr>       
    <thead>
    <tbody>{%for stagiaire in stagiaires%}
        <tr>            
            <td>  {{stagiaire.entreprise.raisonSociale}}          
            </td>
            <td> {{stagiaire.username}}
            </td>
            <td> {{stagiaire.firstname}}
            </td>
            <td> {{stagiaire.lastname}}
            </td>            
        </tr>  {%endfor%}         
    </tbody>
</table>



{%endblock%}