{%extends "::base.html.twig"%}
{%block body%}
<h1>Recherche de créneaux</h1>

<form action="{{ path('rdv_reservation') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Rechercher</button>
    </p>
</form>

{%endblock%}