body{
    padding-top: 50px;
    font-size: 14px;
}
body { padding-top: 50px; }                
.logos img {max-height: 80px;}
.top-bar h3 {font-size: 115%;}
.chosen-container-single .chosen-single, .chosen-container .chosen-choices{
    background-image: none;
}
label{
    font-size: 14px;
}

.invisible{
    display: none;          
}

.well{
    font-size: 90%;
    background-color: #FFF ;
}

.nav-header{
    font-size : 1.00em;
    line-height: 24px;    
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.padding-bottom{
    padding: 0 0 25px 0;
}

.included_form div{  

}
.well .included_form .control-group{
    width:100%;
    float:left;    
    padding-left: 0;
    padding-right: 0;
}
.well .included_form .control-group .control-label{
    position:relative;
    float:none;
    width:100%;

    
}
.well .included_form .control-group .controls{
    margin: 0;
    width:100%;
    float:none;    
}
.well .included_form .control-group .controls input,
.well .included_form .control-group .controls select,
.well .included_form .control-group .controls select div{
    width:100%;
    margin:0;
    padding:4px 0; 
    line-height: 1em;    
    min-width:0;
}
.well .included_form .btn{
    margin : 4px;
}

.booking_type .control-group .controls{
    margin:0 !important;
    
}