body{
    padding-top: 50px;
}
body { padding-top: 50px; }                
.logos img {max-height: 80px;}
.top-bar h3 {font-size: 115%;}
.well {font-size: 112%}
.chosen-container-single .chosen-single, .chosen-container .chosen-choices{
    background-image: none;
}
label{
    font-size: 14px;
}

.invisible{
    visibility: hidden;          
}

.well{
    background-color: #FFF ;
}